[2015-07-09 12:38] woloski opened #5 "wt scaffold"
[code]

* pull a scaffold from the github repo
* runs wt create against that (using -n)
* store the file on the current directory
* prints the path of the file name and the url

[code]

* pull a scaffold from the github repo (assume a file called webtask.js?)
* ssame as above

[code]

* reads from a registry all the scaffold we know

[2015-07-09 12:39] woloski opened #6 "wt logs should show initially last 10 entries"
typically when you call wt logs is because you are troubleshooting something, so by default I'd like to see what just has happened and keep the stream open

[2015-07-09 13:13] woloski opened #7 "wt create shouldn't cache"
By default everything is cached (name->token) and (token->code). We should make the opposite and don't cache anything unless you specify (--cache) or maybe differentiate with the url /prod /dev

[2015-07-09 13:22] woloski opened #8 "wt logs by default should not be that verbose"
For a webtask that has two console.log like this

[code]

This is all I see

[code]

This is what I'd like to see

[code]

[2015-07-09 15:19] eugeniop commented on #8
+1

[2015-07-10 21:55] #7 closed

[2015-07-15 16:20] woloski opened #12 "wt init should be in sync with "verification code" ttl"
If more than X minutes passed (where X=verification code ttl) we should automatically re-send a verification code

[code]

feedback by @cristiandouce

[2015-07-15 16:20] woloski commented on #12
@bananaoomarang can you implement this one?

[2015-07-15 16:28] woloski opened #13 "wt init <email_or_phone>"
this is a shortcut that will be used on webtask.io/cli that will skip the step of asking email/phone

[2015-07-15 16:30] woloski commented on #12
Actually, let's kill the process instead of re-send. It'll be easier and less error prone.

[2015-07-15 16:39] woloski opened #14 "Change welcome message"
The current message is too much for a user who just started. I suggest changing it to:

[code]

[2015-07-15 16:49] bananaoomarang commented on #12
Don't know when the verification code expires ATM (if it does), I think it's in a webtask. Will just quit after five minutes.

[2015-07-15 19:56] cristiandouce commented on #12
My code expired in less that 2 minutes btw.

[2015-07-15 20:42] #14 closed

[2015-07-15 21:21] woloski opened #18 "wt create default message is confusing"
We've got feedback from @cristiandouce and @mgonto that they are not sure what to do with the webtask url on `wt create`.

So I suggest adding something like this:

[code]

unless we are in `--watch` mode

[2015-07-15 21:26] #13 closed

[2015-07-15 21:28] bananaoomarang commented on #18
We could add one in the welcome message maybe, but doing this breaks being able to curl $(wt create ...) which is irritating for scripting.

[2015-07-15 21:29] #12 closed

[2015-07-15 21:30] woloski commented on #18
Yes, maybe add a new modifier raw-url?

[2015-07-15 21:34] woloski opened #19 "tighter integration with auth0"
### authenticated webtask

[code]

This webtask will be secured so that only can be called with a valid JSON Web Token on the `Authorization` header signed with a pre-configued secret. By default we will have a shared Auth0 account for this that will have an application/client registered.

If the Authorization header is not provided, then return 401.
### authenticated webtask based on `email`

[co

[2015-07-15 21:48] bananaoomarang commented on #18
We could just show a message on the first `wt create` maybe? Adding a modifier to remove a tutorial message doesn't feel quite right, but maybe I'm being overcautious.

[2015-07-15 21:52] woloski commented on #18
yes thought about doing that but also felt hackish. But let's try that.

[2015-07-15 22:05] bananaoomarang commented on #18
It doesn't seem ideal to me either, we'd have to save something to `~/.webtask.cfg`. I don't think it's unusual to track the first run in 'user friendly' tools though.

[2015-07-15 23:19] #18 closed

[2015-07-27 14:34] ggoodman opened #23 "Create a UsageError class that triggers help"
Help should not be shown for errors that do not relate to incorrect usage.

[2015-07-27 18:16] woloski commented on #5
@bananaoomarang did we make any progress on this one?

[2015-07-31 20:21] bananaoomarang commented on #5
Progress on this [here](https://github.com/bananaoomarang/wt-cli/tree/scaffolding).

Currently it only pulls from `auth0/wt-cli/sample-webtasks`, but should be easily extensible to read other repos/future db.

![secrecy-1 0 3](https://cloud.githubusercontent.com/assets/815831/9016564/67ccd6a6-37a8-11e5-8f16-a9e701c38ed7.jpg)

![secrecy-1 0 3](https://cloud.githubusercontent.com/assets/815831/90165

[2015-08-07 15:13] woloski commented on #5
This looks good to me as a starting point. At some point there will be a lot of these and the list will be hard to read, but I'd like to have that problem.

I would add the parsing of jsdoc here and show the description besides

[code]

Doing the jsdoc integration will also allow us to ask for the secrets when doing the scaffolding.

[2015-08-10 18:32] bananaoomarang commented on #5
Descriptions could use some work, and we should add more 'general use' templates, but:

![scaffolding](https://cloud.githubusercontent.com/assets/815831/9179751/fb24fc8e-3f74-11e5-9781-c62ecd1a4a6b.jpg)

[2015-08-11 21:13] bananaoomarang commented on #5
![ezgif com-gif-maker](https://cloud.githubusercontent.com/assets/815831/9210783/9ed9b54c-4054-11e5-928a-d8ad5dec95f0.gif)

[2015-08-14 01:19] coolicer opened #26 "useful if user can set env variable"
set env variable via wt-cli, but others can not see

[2015-08-18 21:26] ggoodman commented on #26
We've looked at enabling this but it is something that is difficult from an architectural perspective. Multiple different 'webtasks' can run in the same container (node context). So it becomes tricky to decide which environment variables to set and when. Consider that any waiting on IO of multiple webtask executions in the same container can cause control to flip back and forth between 'webtasks'.

[2015-08-18 21:26] #26 closed

[2015-08-19 02:29] coolicer commented on #26
hope you can find a best way

[2015-08-22 00:15] tjanczuk opened #29 "Add back `url` and `token` to `wt create`"
@geoff: I see `wt create` no longer accepts cluster URL or token. It used to allow all parameters normally in the profile to be explicitly specified - this makes scripting much easier (no need for a profile). Can we get it back?

[2015-09-08 19:36] harriha opened #34 "Messy output for examples in help [Windows]"
Hi,

Not sure whether this should be reported against nested-yargs instead, and not sure if this is a bug or a feature in the first place. But here it goes anyway, feel free to close this in case you don't see anything to change here.

The `wt` (or `wt --help` or equivalent) command prints out the help with examples, but is showing the full path to the executable. At least on Windows, this leads t

[2015-09-08 19:42] harriha opened #35 "A way to see the tasks created (and how to delete them)?"
Hi,

Just started playing around with webtasks and only trying to get my head around the architecture now, and thus might well be missing something here. But, after creating a couple of tasks, I started wondering where could I see all tasks I've created? And how about deleting them? I see a fairly full-featured CLI API for managing scheduled tasks, but how about the regular ones?

I assume all the

[2015-09-09 02:28] ggoodman commented on #35
@harriha webtasks that are not associated with a schedule are essentially stateless. What I mean by that for all intents and purposes is that the url *is* the webtask and therefore there is nothing to list or destroy. What you do with your webtask urls (and underlying tokens) is really up to you.

As for revoking tokens, that is not something that we have exposed via the cli or api yet. Can you el

[2015-09-09 19:00] harriha commented on #35
Hi @ggoodman,

Thanks for your reply. The thing I'm wondering is that if I create a web task (= an exposed URL which runs some custom code) and would like to get rid of that (= destroy the URL to prevent people/systems who know the URL from running it), how to do that? Also, after some time, I might not remember what tasks/URLs I've created, so there's a chance of "losing" the tasks I've created b

[2015-09-16 21:33] zhiyelee commented on #6
+1

[2015-09-18 20:31] zhiyelee opened #37 "Is there any plan to allow upload zip package directly"
Is there any plan to allow upload zip package directly like AWS lambda service? That way  we can use any package we want.

WebTask is an awesome idea!

[2016-01-21 08:16] jasonbarone commented on #35
I'm concerned about this issue as well. Since I started a Webtask account I've been creating random stuff. As of this point I have no clue what I typed during tests.

Furthermore, like @harriha said, what's most concerning is putting some sort of production task out there and quite simply forgetting about it, or changing something and not realizing there's a Webtask that can potentially still be e

[2016-01-22 18:43] tjanczuk commented on #35
We are working on adding full CRUD over named webtasks (the ones that you can access with a vanity URL) to our HTTP APIs. Until then, HTTP APIs for named webtasks only offer one endpoint /api/tokens/issue which has the upsert semantics. Given that, if you want to prevent future use of an existing webtask ("delete"), you can override it with code that does nothing.

Stayed tuned for the full CRUD s

[2016-01-22 19:09] harriha commented on #35
@tjanczuk Thanks for the update, good to hear full CRUD-like support is in the works.

[2016-01-27 15:38] freefire8 opened #40 "Impossible to init through proxy"
Hi,

I've seen with the team on slack, it seems that the wt init (i'm on windows) is not reading any proxy values, preventing me to do correctly the init process with my id.

Working on windows, node 4.2.6, wt-cli 1.1.4

[2016-02-07 02:21] darkyen commented on #19
Is there a time-estimate on this ? This makes life so much easier than having to use Amazon STS :P

[2016-02-12 19:48] darkyen commented on #19
I am curious how did I end up unassigning @bananaoomarang  ?

[2016-02-18 22:14] eugk opened #43 "Upgrade Node.js for security fixes #security-nodejs-20160209"
Please upgrade Node.js to v0.12.10, v4.3.0, v5.6.0, or newer, to address the security issues listed here:
https://groups.google.com/forum/#!topic/nodejs-sec/G8IA0G4uA88.

**Due date for this request is 2016-02-26.**

This update addresses the following issues:
* CVE-2016-2086 Request Smuggling Vulnerability
* CVE-2016-2216 Response Splitting Vulnerability
* OpenSSL upgrades and improvements

**Ple

[2016-02-19 13:27] ggoodman commented on #43
@eugk This is a CLI tool. I don't think that this applies.

[2016-02-19 16:44] eugk commented on #43
True, these particular issues don't apply. I still recommend upgrading,
just so that this package keeps up with the rest, and so future updates are
easier. But I guess it's not required from my perspective.

On Fri, Feb 19, 2016 at 5:27 AM, Geoff Goodman <notifications@github.com>
wrote:

[2016-02-22 16:42] #43 closed

[2016-02-25 01:28] tjanczuk opened #44 "Optionally show token on `wt create1"
`wt create hello.js` shows the token and the URL by default. I think token is interesting and the ability to show this important, but in a small minority of cases. I wonder if this could be less prominent (output option)?

[2016-02-25 01:29] tjanczuk opened #45 "Don't show token in terminal for `wt edit`"
For `wt edit`, I wonder if we should be showing the entire URL in the console. Folks can grab it from the browser address line if they want to, and the fewer places the token is shown the better.

[2016-02-25 01:30] tjanczuk opened #46 "Show `--show-token` hint for `wt profile ls`"
The `wt profile get` displays that nice hint `* Hint: Use --show-token to show the token for this profile.` at the bottom. Can we also display this with `wt profile ls`?

[2016-02-25 01:30] tjanczuk opened #47 "Default CRON interval should be less frequent"
The `wt cron -h` shows `wt cron schedule [options] "* * * * *" [file_or_url]` as  hint for creating a CRON. Should we use a less frequent default (e.g. every 15 mins) since otherwise we will end up with a million of 1-minute hello, world CRON jobs?

[2016-02-25 01:31] tjanczuk opened #48 "CRON schedule formats for the rest of us"
It would be great to be able to say `5m` or `1h` as the `schedule` string for CRON.

[2016-02-25 14:07] jcenturion opened #49 "`wt logs` stop working"
Sometimes, I got this error `[04:02:04.231Z] ERROR wt: Unexpected end of input`. When that happends, `wt logs` stops working.

[2016-02-25 14:47] ggoodman commented on #49
Closing because this issue only relates to `v2` and will be resolved once the branch is merged into master.

[2016-02-25 15:56] ggoodman commented on #49
Reopening because there appear to be lingering issues.

[2016-02-25 18:12] #49 closed

[2016-02-25 18:25] ggoodman commented on #46
Fixed in 10fc60e.

[2016-02-25 18:25] #46 closed

[2016-02-25 18:31] ggoodman commented on #45
Resolved by 467ba96.

[2016-02-25 18:31] #45 closed

[2016-02-25 21:09] ggoodman commented on #44
Resolved by 840a9ed.

[2016-02-25 21:09] #44 closed

[2016-02-25 21:11] ggoodman commented on #48
It would be great. The biggest issue with this is that not all intervals can be mapped to cron schedules. You cannot, for example say `'run every 25 minutes'` because `25` is not a factor of `60` minutes. Cron schedules have no concept of intervals; everything must be anchored relative to `minute`, `hour`, `date`, `day of week` or `month` boundaries.

Any idea how we could find a middle ground?

[2016-02-25 21:38] tjanczuk commented on #48
Even if we ship just a set of pre-canned settings it would be an improvement, e.g. `15m`, `30m`, `1h`, etc.    - you get the idea.

[2016-02-25 22:16] ggoodman commented on #48
Resolved by 3b01a1b.

[2016-02-25 22:16] #48 closed

[2016-02-25 22:18] ggoodman commented on #47
@tjanczuk I do not see where this default interval is indicated. That hint is no longer present in `v2`.

[2016-02-25 22:19] ggoodman commented on #47
As of 3b01a1b381fdaf36c91ca9bfbd2489b0ce641347, `wt cron schedule --help` will show the following hint at the bottom:

[code]

[2016-02-26 14:57] ggoodman commented on #47
Closing given https://github.com/auth0/wt-cli/issues/47#issuecomment-189009973

[2016-02-26 14:57] #47 closed

[2016-03-11 04:36] darkyen opened #51 "Error Socket Hangup"
I tried making a webtask which simply emits things to pusher, [extraneous: notoriously pusher has webpack as an optional dependency]. When I run the command

[code]

I get the following error, I assume that it might be caused by the resulting package being too large.

[code]

[2016-03-14 23:51] colllin commented on #51
I'm hitting the same issue.  My package is quite large (>100kb).  Could that be it?

[2016-03-29 21:59] colllin opened #54 "Feature Request: Search directory tree for nearest .webtask config file"
I want to share a project-specific `.webtask` file with other developers working on the project, without having to explain "First create a `.webtask` file in your home directory, then paste this in.  Or if you already have one, you should manually merge the JSON."  Not to mention if you needed to make changes to existing profiles...

I poked around in the code.  It seems like potentially the `Conf

[2016-03-29 22:00] colllin commented on #54
Better yet, MERGE all webtask configs from all parent directories.  Or a simpler approach... just let me manually specify the config file?  `wt update whatever whatever.js --config .webtask`

[2016-03-30 22:27] tjanczuk opened #55 "The `wt create -b` should be able to read in JSON by default"
This is a frequent enough requirement to bundle up JSON data.

[2016-03-30 22:28] tjanczuk opened #56 "The `wt create -b` should not require package.json"
It would be great to be able to bundle up ad-hoc webtasks without package.json, based merely on the `require` in code.

[2016-04-03 22:08] jsierles commented on #55
auth0-node (requires its own package.json)[https://github.com/auth0/node-auth0/blob/master/src/management/index.js#L5], so can't currently be bundled with wt-cli.

[2016-04-05 19:19] ggoodman commented on #56
I think I see why this might not be working. I'll have to make some tweaks to auth0/webtask-bundle. See auth0/webtask-bundle#8.

[2016-04-18 12:29] ggoodman commented on #29
This is once again supported.

[2016-04-18 12:29] #29 closed

[2016-04-18 12:29] ggoodman commented on #23
Done.

[2016-04-18 12:29] #23 closed

[2016-04-18 12:30] ggoodman commented on #35
@harriha @jasonbarone the webtask cli and platform support enumerating and deleting named webtasks. Closing.

[2016-04-18 12:30] #35 closed

[2016-06-10 19:21] kevinl95 opened #63 "Uncaught error: Request body size exceeds 122880"
When creating a webtask for a .js file that is 2.6MB I receive the following:
`Uncaught error:  Request body size exceeds 122880
Error: Payload Too Large
    at Request.callback (/usr/local/lib/node_modules/wt-cli/node_modules/superagent/lib/node/index.js:698:17)
    at IncomingMessage.<anonymous> (/usr/local/lib/node_modules/wt-cli/node_modules/superagent/lib/node/index.js:922:12)
    at emitNone

[2016-06-10 19:42] kevinl95 commented on #63
Support confirmed there is a 100kb filesize limit.

[2016-06-10 19:42] #63 closed

[2016-06-11 01:03] mcastany opened #64 "It would be nice if we can have a command/option to change the default profile"
If you don't specify --profile, wt uses the default profile. It would be nice if we could switch the default profile, without having to override the previous one. (e.g. `wt profile get 'profile-name' --set-default`)

[2016-06-14 22:06] timendez opened #65 "Uncaught error: Request body size exceeds 122880, Payload Too Large"
I'm trying to create a task with a 1.5MB directory.

Here's the stacktrace:

[code]

[2016-06-14 22:12] timendez commented on #65
I was requiring node modules (request, jsonwebtoken) that were already present on webtask. Just needed to remove them.

[2016-06-14 22:12] #65 closed

[2016-06-22 15:54] dev101 commented on #40
+1
doesn't work behind a proxy
![image](https://cloud.githubusercontent.com/assets/459389/16273552/bace1f46-38aa-11e6-88d4-a4804f72cbae.png)

[2016-07-04 22:17] kenhoff opened #68 "CORS support for `wt serve`?"
Hey folks - just wanted to see if there was any interest in having CORS support for the `wt serve` command.

If possible, I'd like to have my `localhost:1234`ed web app hitting my `localhost:8080`ed webtask server, but that obviously throws a CORS error.

Looks like support for that might have to be added in `webtask-runtime`, so I wanted to see if that would possibly be on the roadmap. In the mea

[2016-07-14 23:41] jonberke opened #71 "Problem updating task"
I just started playing with Webtasks, but when I try to update the sample script, I get an error:

[code]

[2016-07-15 01:06] ggoodman commented on #71
Hello @jonberke, we apologize for this error. This was the result of a deployment to the platform that raised validation to a level beyond reason. We've launched a re-deployment that should come online shortly.

[2016-07-21 15:43] collinglass opened #72 "Error: Module version mismatch"
Error: Module version mismatch. Expected 48, got 47.
    at Error (native)
    at Object.Module._extensions..node (module.js:568:18)
    at Module.load (module.js:458:32)
    at tryModuleLoad (module.js:417:12)
    at Function.Module._load (module.js:409:3)
    at Module.require (module.js:468:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/local/lib/node_modules/wt-c

[2016-08-01 06:26] tjanczuk opened #74 "Add module: getstream"
https://auth0.zendesk.com/agent/tickets/12677

[2016-08-01 14:21] jeveloper commented on #74
Thank you/Dinkue ,

Getstream is a great service, it would be amazing.

[2016-08-03 02:02] calclavia commented on #72
I'm receiving the same error as well

[2016-08-03 08:08] tjanczuk opened #75 "Cannot read property 'formatUsage' of undefined"
One issue and a question.

Issue:

[code]

After I comment out the line using `formatUsage`, I get the following:

[code]

Question: what is rationale for this limitation? I want to take my token (opaque key in this case) from my profile, but override the url using `--url`.

[2016-08-05 12:25] tjanczuk commented on #74
Released in 10.4.3

[2016-08-05 12:25] #74 closed

[2016-08-05 15:51] jeveloper commented on #74
Hi

What are you referring to 10.4?  (wt-cli seems to be much lower version)
I use this site to check for modules:
https://tehsis.github.io/webtaskio-canirequire/

Its not showing "getstream"
thanks

[2016-08-05 15:54] tjanczuk commented on #74
10.4 .3 is our internal release number. The module is now available on webtask.it.auth0.com and can be requested with `require('getstream')`.

The https://tehsis.github.io/webtaskio-canirequire/ at the moment does not show all the modules available. It is a bug, we will fix it shortly.

[2016-08-05 19:29] jeveloper commented on #74
Awesome !!

[2016-08-05 19:38] jeveloper commented on #74
One more thing, just curious, hope you'll upgrade to node 6.X , definitely faster and more compatible to ES6. I understand that current containers use 4.x, is that right?

[2016-08-09 12:23] tjanczuk opened #76 "Consider adding default wt-cli parameters to wt profile"
For example, it would be useful to be able to associate a default value of the `--host` parameter of `wt create` within the profile.

https://webtask-chat.slack.com/archives/kessler_team_tool/p1470745162000036

[2016-08-09 12:26] tjanczuk opened #77 "Support .env files as an alternative for specifying --secret"
Due to bash history and pure convenience, it is desired to avoid having to specify `--secret` directly on the command line of `wt create`.

https://webtask-chat.slack.com/archives/kessler_team_tool/p1470745369000041

[2016-08-20 19:25] calclavia opened #78 "Cannot find module './build/Debug/DTraceProviderBindings'"
When running any wt-cli commands, I get the following error.

[code]

[2016-09-05 14:04] nachoesmite opened #79 "Opening webtask editor with empty webtask produces a wrong wording"
Using `wt-cli` to open a named webtask produce a clear output:
[code]
However opening the editor without a named webtask, work as expected but the wording isn't good from the user experience standpoint.
[code]

[2016-09-08 18:49] cristiandouce opened #80 "Add a `wt open [webtask-name]` to open webtask url in browser"
It'd be a useful feature for webtasks serving html.

[2016-09-12 17:04] ggoodman commented on #80
@cristiandouce this does sound useful. Not sure if `open` is the right verb.

Do you want to submit a PR? It would mean creating a new command similar to [edit](https://github.com/auth0/wt-cli/blob/master/bin/edit.js) and then [registering](https://github.com/auth0/wt-cli/blob/master/bin/wt#L35) that command.

[2016-09-20 23:20] jschluchter commented on #78
@calclavia I get the same thing, however the commands do seem to finish successfully.

[2016-09-20 23:29] jasonbarone commented on #78
I had a very similar error after a version update. Make sure to try uninstalling the package completely, then reinstalling. That fixed mine.

[2016-09-20 23:44] jschluchter commented on #78
@jasonbarone that resolved the errors. However, any new user might encounter this scenario.

[2016-09-25 16:06] idkjs opened #81 "Quickstart Step 4, "wt edit hello" doesnt execute, throws no error"
Step 4 on [Quickstart](https://webtask.io/cli) not working. Im on Windows 10, default browser is Firefox. I ran `wt edit hello`, `wt edit hello.js` in both Windows command prompt and Node6.5. Console logs " Opening hello in your browser...." than nothing.
![webtask-edit](https://cloud.githubusercontent.com/assets/2370391/18816461/b8918868-834a-11e6-865c-8f6045e884cf.PNG)

[2016-09-25 16:10] idkjs opened #82 "Quickstart Step 3 echo command format is incorrect."
Windows 10, Node 6.5
Step 3 on [Quickstart](https://webtask.io/cli), remove quotes around echo statement. Should be the following in JS.
 `echo module.exports = function (cb) {cb(null, 'Hello');} > hello.js`

[2016-09-27 15:17] Neats29 opened #83 "The authentication webtask token cannot be used to issue new webtask tokens."
I'm trying to debug a 'rule' script on the Auth0 dashboard.

I've followed the following instructions:

[code]

But I'm getting the above error. Any ideas why?
Thanks

[2016-09-29 21:26] #79 closed

[2016-11-17 23:15] jeffijoe commented on #81
Same here.

[2016-11-18 14:36] cyhsutw commented on #80
Hi @cristiandouce @ggoodman 👋 ,

I would love to help to implement this feature.
What do you think about using `run` as the verb?

(Grabbed from: https://webtask.io/docs/api_run)

Would like to hear your feedback on this, thanks!

[2016-11-18 18:19] ggoodman commented on #80
@cyhsutw I'm a bit reluctant to call it `run` because the reality is that many webtasks are designed for accepting non `GET` requests or have no meaningful output in the browser. So for most webtasks `wt run` would not meaningfully 'run' them.

May I instead suggest `wt browser <name>` or `wt browse <name>`?

Regardless, I wouldn't get hung-up on the naming. If you put together the PR, we'd be hap

[2016-11-19 03:25] cyhsutw commented on #80
@ggoodman Thanks for the input 😄

I've opened a pull request #91, would love to have your feedback on that!

[2016-11-29 20:43] ggoodman opened #94 "Support for declarative node dependencies"

[2016-12-14 02:58] kevinbluer commented on #78
Uninstall / reinstall worked for me too 👍

[2016-12-20 10:51] openhoat opened #97 "How to use wt serve"
May be I missed something, but I cannot find a way to use "wt serve" command :

sample webtask "bar.js" :
[code]
then I run :
[code]
then :
[code]
failed with :
[code]
node version : v7.2.1

[2016-12-20 13:46] ggoodman commented on #97
@openhoat thanks for the detailed issue. To support running unpatched express on webtask with intuitive routing (`/` in your case), we need to do some path fiddling. I suspect that we've missed some corner case that you're currently experiencing.

I will take a look.

[2016-12-23 19:23] luisrudge commented on #81
I'm also seeing this. I added a quick fix to display the url in the terminal so we can copy/paste in the browser.

[2016-12-27 20:09] darkyen commented on #78
This might also occur if you recently changed the version of Node.JS

[2017-01-09 14:03] #81 closed

[2017-02-14 13:32] xurei opened #105 "CLI unusable : ReferenceError: Sandbox is not defined"
After an update of wt-cli, I'm not able to use it anymore.

I've got this error :
[code]

[2017-02-14 13:55] xurei commented on #105
I found a workaround by doing those two commands :
[code]

[2017-02-14 14:52] ggoodman commented on #105
Hello @xurei. We were too quick in releasing an update to sandboxjs. Your issue is resolved in ebb4d5692c50d3c6d3d3d6f95b0442d31034c0be. Please update your `wt-cli` to `4.0.1`.

Sorry for the inconvenience.

[2017-02-14 14:52] #105 closed

[2017-02-26 14:19] linktohack opened #108 "How to download an existing webtask to edit locally?"
Thank you!

[2017-03-02 15:06] ggoodman commented on #97
@openhoat I believe that we have fixed this issue in recent versions of `wt-cli`. Please let me know if you are still experiencing this issue.

[2017-03-02 15:06] #97 closed

[2017-03-02 21:04] robbiemu opened #110 "payload too large - nothing but 40 lines of es6 w/ async, xml2js, and axios"
I'm reporting this as it was requested at the bottom of the log there. :)

source:
[code]
with babelrc
[code]

producing:
[code]

[2017-03-02 21:13] robbiemu commented on #110
ps> on my end, when I run this code I get output like:
[code]

[2017-03-05 18:31] glrodasz commented on #78
It is happening with **Node v6.95** and global packages:

build@0.1.4
essential@0.0.1
npm@3.10.10
wt-cli@4.0.4

[2017-03-06 17:24] ggoodman commented on #78
This will be fixed by #111.

[2017-03-06 17:48] ggoodman commented on #78
Closed by #111

[2017-03-06 17:48] #78 closed

[2017-03-16 09:04] linktohack commented on #108
Hello, any chance that I have overlooked the document?

[2017-04-05 03:59] ivanoats opened #113 "wt update broken"
`wt update` was working fine earlier today but now I'm getting this error after installing v5.0.0

[code]

[2017-04-05 04:03] ivanoats commented on #113
this might be an issue with my setup? getting the same error on v4.0.6

[2017-04-05 18:50] nicoecheza commented on #113
having the same issue here

[2017-04-05 21:00] #113 closed

[2017-04-05 22:32] ivanoats commented on #113
Confirmed fixed, thanks

[2017-04-08 13:49] thameera opened #114 "`auth0 create` fails with "Cannot read property 'length' of undefined" error"
I'm trying to create a pre-registration hook via CLI and getting the following error:

[code]

wt-cli version: `5.1.2`
Also `wt profile ls` shows the `tham-default` profile.

What could have gone wrong?

[2017-04-10 07:30] rjocoleman opened #115 "specify profile default host via config"
My implementation uses the host feature, every time I upsert a task I want to set the `--host` option.

Is there any suggested way to set this as a default with the current cli?

Are you open to a PR that adds a `default_host` per profile (or similar)?

[2017-04-10 18:13] nikhil-kartha opened #116 "socket hang up on running ' wt create <filename>'"
$wt create <filename>
Uncaught error:  socket hang up
Error: socket hang up
    at createHangUpError (_http_client.js:302:15)
    at TLSSocket.socketOnEnd (_http_client.js:394:23)
    at emitNone (events.js:91:20)
    at TLSSocket.emit (events.js:188:7)
    at endReadableNT (_stream_readable.js:975:12)
    at _combinedTickCallback (internal/process/next_tick.js:80:11)
    at process._tickCallback

[2017-04-10 18:27] ggoodman commented on #115
@rjocoleman interesting use-case. I would be open to such a PR. Thanks for taking the initiative.

[2017-04-11 09:00] the-s0urce commented on #114
Adding "if(!args.dependencies) args.dependencies='';" to line 21 of "[...]\nodejs\node_modules\wt-cli\lib\createWebtask.js" fixed it for me.

[2017-04-11 13:00] #114 closed

[2017-04-11 13:03] ggoodman commented on #116
@nikhil-kartha can you please provide a few more details:

[code]

Can you also show the exact command you were running?

[2017-04-11 17:45] nikhil-kartha commented on #116
$wt create refresh-token.js
...
$ wt --version
5.1.2
$ node --version
v7.8.0

On Tue, Apr 11, 2017 at 6:03 AM, Geoff Goodman <notifications@github.com>
wrote:

[2017-04-11 20:13] briansantura commented on #116
Also getting this error when running the "Getting Started" example.

`echo "module.exports = function(cb) { cb(null, 'hello world'); }" > foo.js`

`wt create foo.js  `

Wt vesion, and node version.

`wt --version`
5.1.3
`node --version`
v6.10.2

[2017-04-11 20:32] briansantura commented on #116
@nikhil-kartha Try re-installing with the `npm install wt-cli -g` command. Was able to successfully create a Webtask after doing so.

![image](https://cloud.githubusercontent.com/assets/23461819/24929580/4c391b6a-1ebb-11e7-9e38-0437a29caa98.png)

[2017-04-11 21:59] nikhil-kartha commented on #116
Its working for me today, without a re-installation.

Nikhil.

On Tue, Apr 11, 2017 at 1:32 PM, Brian Delgado <notifications@github.com>
wrote:

[2017-04-14 14:09] jacksaunders opened #119 "Uncaught error: dependencies.reduce is not a function"
Trying to create a new webtask with the stripe node_module

My Webtask
[code]

WT CLI task

[code]

Full Error

[code]

[2017-04-14 15:16] tjanczuk commented on #119
@ggoodman This happens in 5.1.3 when there is a package.json file in the directory *without* any dependencies listed, e.g.

[code]

@jacksaunders You can work around this issue by passing `--ignore-package-json` flag to `wt create`.

[2017-04-15 07:22] jacksaunders commented on #119
Amazing, worked thanks

[2017-04-15 07:22] #119 closed

[2017-04-17 18:50] #77 closed

[2017-04-17 18:50] #94 closed

[2017-04-17 18:51] ggoodman commented on #110
@robbiemu can you give this a try once again with `v6.0.0`?

[2017-04-17 23:08] ggoodman commented on #119
Root cause fixed in e5597bcaf7670bbeb49339f04d31ac882bb70d1d.

[2017-04-21 14:50] christiannwamba opened #121 "Bundling Exceeds 100kb Limit"
Running wt commands works as expected. At this point of my example, I decide to split the files into different modules for maintainability. For this to happen, I will need to use `webtask-bundle`.

Unfortunately, when `webask-bundle` tries to do its thing, it creates a large bundle which exceeds the 100kb limit. The following error is thrown:

[code]

The weird thing is, the demo just have about 4

[2017-04-24 14:12] ggoodman commented on #121
Hi @christiannwamba, have you tried using the `--bundle` flag in `wt-cli`? Normally, you shouldn't need to use `webtask-bundle` directly as it will be used under the hood to provide the `--bundle` functionality.

The reason that `webtask-bundle` is generating a large bundle is that it needs to be seeded with the correct set of modules to be considered as [externals](https://webpack.js.org/configur

[2017-04-28 18:00] rohit-ravikoti opened #124 "continuous deployment from gitlab"
Hi!
Is it possible to deploy from a continuous integration service like GitlabCI? How would we init the wt-cli and provide credentials?

[2017-04-30 23:31] glrodasz opened #125 "Support watch mode for serve"
Hi guys, It will be cool support the `--watch` command for `serve`. Everytime that I want to test new changes in `serve` mode I have to re-run the command.

[2017-05-01 00:13] glrodasz opened #126 ".env file is not is loading into context.secrets"
Using a `.env` is loading the variables into the `context.data` but not in `context.secrets`.

[2017-05-01 00:43] rohit-ravikoti opened #127 "Bundler is not resolving peer dependencies"
When using lokka with lokka-transport-http:

[code]

[2017-05-01 16:48] glrodasz commented on #126
I debugged again and looks like the .env file is not working at all. I thought that it enabled by this issue: https://github.com/auth0/wt-cli/issues/77 Am I wrong?

[2017-05-01 17:03] glrodasz opened #128 "Support .npmignore"
I'm using the express template but I'm using `express-jwt` as well. The problem is that I cannot take the secrets from the context because I'm trying to protect all the app, so I'm loading a `config.json` file that I'm ignoring from my `.gitignore` file but I need it in the webtask. I could use the `.npmignore` to allow use the `config.json` in the webtask. There is any chance to support this? or

[2017-05-01 17:07] glrodasz commented on #128
I just found that the real issue is that the 6.0.0 version does not load `.json`files so I changed for a `.js` instead.

[2017-05-01 17:07] #128 closed

[2017-05-04 17:04] ggoodman commented on #40
Forward proxy support is enabled in: 02bfb1ff88f0783c6f80580b629ef68697a75301

[2017-05-04 17:04] #40 closed

[2017-05-11 13:48] roni-frantchi opened #129 "`--bundle` won't resolve npm dependencies of private GitHub repos with access tokens"
I’m trying to get a webtask setup with dependencies as described here: https://webtask.io/docs/modules .
Followed the instructions, all works well.
But then I added another depndency, this time, trying to install from a [private] GitHub repo, using an access token.
While `npm install`ing works for me locally and on AWS instances, when attempting to `wt create` my task I get:
[code]

NPM installing

[2017-05-17 21:00] Vitouuu opened #130 "Special characters are not recognized in wt name unless they are url encoded"
I created a webtask from a URL with a parameter, but then I couldn't deleted unless I url encoded the special characters.
The rm command even replied with the same name but as non-matching webtask name.

This finally worked:
`wt rm task%3Fwithparams`

![screen shot 2017-05-17 at 5 23 21 pm](https://cloud.githubusercontent.com/assets/3942402/26175872/8f544236-3b2a-11e7-9e46-c95a50cef6e9.png)

[2017-05-17 21:25] Korrd commented on #130
Maybe it would be a good idea for those commands that deal with the task name to do some urlencoding on the taskname beforehand, or to add clarification on the help screen so the user knows it should be urlencoded if special characters are used?

[2017-05-17 21:35] Vitouuu commented on #130
It's not well handled on the web editor either; actually it cannot be opened.

![screen shot 2017-05-17 at 6 33 35 pm](https://cloud.githubusercontent.com/assets/3942402/26177313/87cb0b30-3b2f-11e7-8856-7393a55c0bec.png)

[2017-05-24 06:04] AmaanC opened #131 "Uncaught error: logs.once is not a function when using --raw mode for logs"
Node v6.10.2
wt-cli v6.1.0

[code]

----

Issue is caused here:
https://github.com/auth0/wt-cli/blob/master/bin/logs.js#L48
https://github.com/auth0/wt-cli/blob/master/lib/logs.js#L17
https://github.com/mrrama/node-bunyan-prettystream/blob/master/lib/prettystream.js#L414

`/bin/logs.js` assumes the returned `logger` from `/lib/logs.js` will be a `PrettyStream` logger, which inherits the `.once` fr

[2017-05-24 07:00] arcseldon commented on #131
FYI only. reply from a user with similar issue.

[code]

[2017-06-07 02:43] vishal3011 opened #132 "Uncaught error: Request body size exceeds 1000"
Uncaught error:  Request body size exceeds 1000
Error: Payload Too Large
    at Request.callback (/usr/local/lib/node_modules/wt-cli/node_modules/superagent/lib/node/index.js:675:11)
    at /usr/local/lib/node_modules/wt-cli/node_modules/superagent/lib/node/index.js:883:18
    at IncomingMessage.<anonymous> (/usr/local/lib/node_modules/wt-cli/node_modules/superagent/lib/node/parsers/json.js:16:7)

[2017-06-11 19:58] toboid opened #133 "Invalid webtask created when package.json contains no dependencies"
If you create webtask that has a package.json with no dependencies, the created webtask is invalid.

I have created an example [here](https://github.com/toboid/wt-cli/tree/webtask-no-deps/sample-webtasks/webtask-no-deps)

When deployed with `wt create .` the resulting webtask raises the following error when executed:
[code]

One instance where this might occur is when using some devDependencies fo

[2017-06-11 20:10] toboid opened #134 "wt create --bundle --ignore-package-json throws error when package.json contains no dependencies"
If you try to create a bundled webtask that has a package.json with no dependencies and you use the `--ignore-package-json` flag, the command fails.

I have created an example [here](https://github.com/toboid/wt-cli/tree/webtask-no-deps/sample-webtasks/bundled-webtask-no-deps). When created with command `wt create --bundle --ignore-package-json .` the cli throws the following error:

[code]

I was

[2017-06-11 20:18] toboid commented on #133
If you'll take a PR then i'd be happy to take look at this

[2017-06-11 20:19] toboid commented on #134
If you'll take a PR then i'd be very happy to look into this and submit one

[2017-06-11 21:35] toboid opened #135 "Imported sub-modules included in bundle"
If a construct such as `import ReactDOMServer from 'react-dom/server'` is used in a bundled webtask the required module is inlined in the module, as well as installed in the container. In the case of `react-dom/server` this causes the create command to fail with
`Uncaught error:  Request body size exceeds 122880`.

I've tested with `import map from 'lodash/map'` too and observed the same behaviour

[2017-06-12 17:17] ggoodman commented on #134
Hello @toboid, I'd be happy to take you up on your offer of a PR.

As for #133, this is a bit more involved and would likely be solved in [webtask-bundle](https://github.com/auth0/webtask-bundle).

[2017-06-12 21:13] toboid commented on #134
@ggoodman thanks, submitted

[2017-06-13 12:14] #134 closed

[2017-06-13 13:30] mauricioschneider opened #137 "Profile creation hangs when using Node.js v8.x.x"
Reproduction steps:

- Begin initialization of new profile with `wt-cli init --profile 'new-profile'`
- Input your email
- When prompted for the verification code, the cursor won't respond to typing
- At this point, it's not possible to stop the process using `ctrl+c`

[2017-06-13 18:22] ggoodman commented on #133
Closed via #134

[2017-06-13 18:22] #133 closed

[2017-06-13 18:31] kotarac commented on #137
Seems like a issue with node which was fixed with PR nodejs/node#13560.
New version of node with the fix should be released soon.

[2017-06-14 07:26] katopz opened #138 "Can't enter verification code"
It's work before, I even had old account logged in but when I try init new one it's just stuck.

[code]
FYI : I can input `y` here and continue...
[code]
I did got verification code through email as expected but I just can't input anything there.
And if I wait 'til timeout...
[code]
Even `Y/n` is not accept my input.

I'm not sure it's only me, the weird part is it's work before but not anymore.

[2017-06-14 09:20] katopz commented on #138
It's `node v8.1.0` bug ;o https://github.com/nodejs/node/issues/13557

[2017-06-14 09:20] #138 closed

[2017-06-14 13:46] kotarac commented on #137
@mauricioschneider should be fixed with node 8.1.1

[2017-06-14 13:47] mauricioschneider commented on #137
@kotarac Thanks for letting me know! Will give it a try and close the issue if solved.

[2017-06-14 13:51] mauricioschneider commented on #137
Can confirm node v8.1.1 fixes the issue, thanks @kotarac

[2017-06-14 13:51] #137 closed

[2017-07-04 06:44] joshuaali opened #139 "Run Babel for serve"
`wt create --bundle` will run the code through Babel and transpile ES2015/ES6. The same thing should be done for `wt serve`.

[2017-07-11 17:50] joeyespo opened #140 "Mention 'secrets' in the cron docs"
I recently used the CLI to create a cron job. It had a secret associated with it.

I noticed that you can add secrets to cron jobs in the editor, so I tried running `wt cron schedule --secret KEY=VALUE` and that worked. The problem is that I didn't know it was possible until trying it since [the docs don't mention it](https://webtask.io/docs/cron).

Or, if `--secret` isn't intended to be used here

[2017-07-11 18:18] joeyespo opened #141 "Saw `ReferenceError: regeneratorRuntime is not defined` when using async / await"
I read that adding `"use latest"` to your script would run the code through Babel, so I embraced modern JS from the get-go on a recent project. Really cool!

However, after deploying I saw `ReferenceError: regeneratorRuntime is not defined` error from using async / await. So instead of relying on the builtin Babel support, I ran it through Babel locally [to test](https://github.com/auth0/wt-cli/is

[2017-07-11 21:13] baskin opened #142 "rejecting new cron job due to max cron jobs per container limit"
Got following on trying to add a new cron.
Couldn't find any information on limit on number of crons in the documentation. Can you pl help clarify?

[code]

[2017-07-12 03:38] Ahhhz commented on #133
TY I needed this answer.

[2017-07-12 18:42] baskin commented on #142
Can you please help me understand -- how is a container associated with a cron? Sorry, couldn't find in the documentation.

[2017-07-12 18:59] ggoodman commented on #142
Hello @baskin, we have a limit of 10 cron jobs per webtask.io account. Can you tell us more about how you are using so many cron jobs?

[2017-07-12 19:15] baskin commented on #142
@ggoodman, I have:
- a webtask that fetches news articles from a news source. The news source is an input to the webtask.
- one cron for each news source, that runs once every hour.
- there are a total of ~30 news sources and hence ~30 crons.

If 10 is a hard limit, i can do it differently, e.g. by keeping a single cron that runs 30 times an hour, and figuring out which news source to trigger it f

[2017-07-19 13:55] baskin commented on #142
Hi Team, @ggoodman,

I collapsed into a single cron - but am now getting

[code]

However, the job runs if i execute it via the panel.
Also checked the size of the script way below the state limit (of 100KB).

What could be wrong? Kindly help.

[2017-07-19 14:36] baskin commented on #142
Ok then.

For some reason by using the `function(ctx, req, res)` signature, I no longer get the issue.
I'm closing the ticket. Though it would be great it someone could answer why this is working now.

[2017-07-19 14:36] #142 closed

[2017-07-21 18:40] ggoodman commented on #142
@baskin we've deployed a change to the platform that should address this unexpected behaviour. Please let us know if this clears things up for you.

[2017-08-14 05:51] markspolakovs opened #145 "Local debugging doesn't work as of Node 8"
When running `wt debug` as of Node 8.0.0, the following output:

    (node:17832) [DEP0062] DeprecationWarning: `node --debug` and `node --debug-brk` are invalid. Please use `node --inspect` or `node --inspect-brk` instead.

[2017-08-26 17:07] gaastonsr commented on #141
Thanks so much!

[2017-08-28 04:19] gwmccull opened #148 "add support for moment plugins"
I'm trying to create a cron task that uses `moment` and `moment-recur`.

The recommended usage for `moment-recur` is:

[code]

However, when I try to do that in a webtask, I get this error:

[code]

When I scheduled this cron task, I had the adjacent `package.json` file so it appeared to have picked up the dependencies:

[code]

The function call works as expected if I run it in Node.

[2017-08-28 18:05] ggoodman commented on #148
@gwmccull this is a know issue related to node modules having peer dependencies under our approach to providing low-latency access to the npm registry. We will let you know if and when we have a solution or work-around.

[2017-08-29 11:53] ggoodman commented on #148
Hey @gwmccull, just saw your blog post (https://mcculloughwebservices.com/2017/08/28/creating-github-issues-using-webtask/). Great stuff! Hello from an SNC (Incline, NV) alumni! BeerJS and TahoeJS sound like some pretty great excuses for a visit to the alma mater and family in Tahoe City!

[2017-08-29 18:05] gwmccull commented on #148
@ggoodman That'd be great to meet you!  We meet on the 3rd Tuesday of every month.  Let me know if you're interested in speaking at one of the meetings.  We'd be happy to learn more about Auth0 or whatever else you're working on

[2017-08-29 18:05] #148 closed

[2017-08-30 13:49] traderd65 opened #149 "Error resolving TXT DNS records for new custom domain"
Setup custom domain serverless-pl.us following the NameCheap/CloudFlare guide. Currently only CNAME record exists in CloudFlare (may still be propagating as it's been less than 24 hours ago).

Testing the hello-custom.js example, with the command:

wt create hello-custom.js --host serverless-pl.us

I'm getting the following error:

Uncaught error:  error resolving TXT DNS records for domain server

[2017-09-07 22:38] motin commented on #149
You need to add a TXT DNS record to your Cloudflare DNS settings.

Currently there are none:
[code]

[2017-09-08 16:03] traderd65 commented on #149
Thank you, will be adding the TXT DNS record manually.

[2017-09-08 16:03] #149 closed

[2017-09-21 16:54] NotMyself opened #155 "Updating an Existing CRON Schedule Removes Secrets"
A customer reported issue: https://auth0.zendesk.com/agent/tickets/27553

## Steps to Reproduce

### Via CLI

1. `wt cron schedule "1 * * * *" foo.js --secret FOO=BAR`
1. `wt inspect foo --decrypt`
  - **Note:** secrets are stored
1. `wt update foo foo.js`
1. `wt inspect foo --decrypt`
  - *Note:* secrets are maintained
1. `wt cron schedule "* * * * *" foo.js`
1. `wt inspect foo --decrypt`

## Res

[2017-09-21 17:36] tjanczuk commented on #155
I think the problem is in the perception around `wt cron schedule` command. This command is not an *update*, it is a complete *re-create* of the CRON job. This means secrets must be re-specified.

The `wt update` only updates code as far as I know.

[2017-09-21 17:37] NotMyself commented on #155
Agreed, I think this is an indication we need a `wt cron update` command.

[2017-09-21 17:43] tjanczuk commented on #155
A cheap improvement could be to introduce `wt cron create` and deprecate `wt cron schedule`

[2017-09-21 17:45] NotMyself commented on #155
It seems weird that there is no easy way to update a cron schedule. It is pretty easy to typo `1 * * * *` when what you really mean is `* * * * *` and there is no simple way to fix it without destroying your webtask.

[2017-09-22 17:04] NotMyself opened #156 "Updating a CRON Webtask with Package.json Removes Dependencies"
A customer reported issue: https://auth0.zendesk.com/agent/tickets/28116

## Steps to Reproduce

### Via CLI

1. `mkdir test_case && cd test_case`
1. `npm init` - accepting defaults is fine.
1. `npm install request`
1. `wt cron schedule "1 * * * *" test_case.js`
1. `wt update test_case test_case.js`
1. `wt inspect test_case`

## Result

[code]
**Note:** The dependencies have changed but `wt-compil

[2017-09-22 21:27] NotMyself commented on #156
Confirmed fixed by 6.5.2

[2017-09-22 21:27] #156 closed

[2017-09-25 16:30] NotMyself opened #157 "401 After Using `wt update` to Update a CRON Webtask"
A customer reported issue: https://auth0.zendesk.com/agent/tickets/28116

## Steps to Reproduce

### Via CLI

1. `wt cron schedule "* * * * *" test_case`
1. Let the CRON schedule execute.
1. `wt cron history test_case` - Note the task completes as expected
1. `wt update test_case test_case.js`
1. Let the CRON schedule execute.
1. `wt cron history test_case`

## Result

[code]

## Expected Result

[2017-09-25 18:28] ggoodman commented on #155
What about `wt cron update [--schedule new_schedule] [--state new_state]` sub-command?

[2017-09-25 18:33] NotMyself commented on #155
I think the pair of `wt cron create` & `wt cron update` are clear in their intention and might reduce confusion.

[2017-09-25 20:34] ggoodman commented on #155
If we take the approach proposed by @tjanczuk here: https://github.com/auth0/wt-cli/issues/155#issuecomment-331230067, I would also change `wt cron create`'s signature to have the schedule as an option instead of a positional argument.

[2017-09-26 10:29] baskin opened #158 "Debugging cron execution"
Hi Team,

I have a function that I deploy as a
- webtask
- cron

Executing the function as a webtask works and i get the correct result.

However, the cron fails every single time. The only response I get is through the scheduler stats and that simply says "Server Error", 500.
`
type:              error
statusCode:        500
body:              {"message":"Server error","statusCode":500}
`
Nothing

[2017-09-26 13:04] ggoodman commented on #158
Hello @baskin,

Can you please share some details on how you are creating the webtask and cron job? Specifically, what commands (please redact) are you executing and in what order? Please also share the version of the cli you are using `wt --version`.

[2017-09-26 23:03] glennblock opened #159 "Store current profile"
## Overview

Today wt-cli supports multiple profiles allowing you to specify `--profile` with each command to use that profile for execution.

When doing a bunch of steps or even scripting them, it's annoying to have to pass `--profile` over and over.

## Proposal
Introduce a `wt profile current [name]` command which will set and persist the selected profile name. if current is set, that profile w

[2017-09-27 12:11] baskin commented on #158
webtask:
`wt create build/webtask/test-cdn --secrets-file secrets --name test-cdn-webtask`

cron:
`wt cron schedule "00,15,30,45 * * * *"  build/webtask/test-cdn --secrets-file secrets --meta app=nooz --name test-cdn-cron`

wt --version
`6.5.1`

[2017-09-27 13:51] ggoodman commented on #158
Hi @baskin, when you schedule a cron job, you are actually automatically creating an underlying webtask by the same name. Please not that cron jobs created using `wt-cli` as of `6.3.0` will have the middleware compiler and cron-authentication middleware set up. This means that direct invocations of the webtask must have an `Authorization: Bearer <token>` header whose `<token>` is the webtask token

[2017-09-29 08:10] baskin commented on #158
Thanks, closing the issue.

[2017-09-29 08:10] #158 closed

[2017-10-03 18:45] pierreis opened #161 "Question: Generate token decryptable by the container"
I'm trying to build a deployment and configuration tool based on Webtask. The requirements are as follows:

– During the configuration phase, the client enters its credentials for various services, possibly with multiple successive commands
– The application is later deployed
– When running, the application should have access to the decrypted credentials

The basic idea would be to generate tokens

[2017-10-04 14:17] ggoodman commented on #161
Hi @pierreis, on our freemium [Auth0 Extend](https://auth0.com/extend/developers) deployment on webtask.io, we do not issue users tokens with `dd > 1` by design.

Can you join our [Slack team](https://skynet.run.webtask.io/webtask-signup)? We'd like to get a better understanding of your requirements.

I'm closing this issue because I don't believe there is a `wt-cli` bug. Please join us on Slack t

[2017-10-04 14:17] #161 closed

[2017-10-05 15:53] #145 closed

[2017-10-07 19:07] iamchathu opened #164 "Nodemailer require fails"
I tried to require nodemailer, I got an error

[code]

[2017-10-16 15:31] NotMyself commented on #155
Verified fixed in 7.0.1

[2017-10-16 15:31] #155 closed

[2017-10-20 00:03] heymartinadams commented on #127
Same here.

[code]

As you can see below, from the [`webtask.js`](http://code.affiliategenius.com/webtask.js) file, it requires a simple [npm package](https://www.npmjs.com/package/affiliategenius-test) that’s dynamically loaded via the `--meta` tag:
[code]

Yet the resulting [webtask](https://wt-607887792589a1d1a518ce2c83b6dddd-0.run.webtask.io/AffiliateGenius) says it’s not available:
[code]

[2017-10-21 16:41] heymartinadams opened #167 "Feature request: wt create for inline code"
Hi Webtask team,

Feature request: if code is a single line, allow `wt create` for an inline code, like this:

[code]

In this case, most of the code is executed via an npm package, so the actual webtask code is short.

[2017-10-22 15:36] steve-a-jones commented on #157
Was getting this same issue as well.

My work-around was to first create the webtask in the cli and then update the scheduler in the webtask gui.

[2017-10-31 16:19] dzeitman opened #168 "create wt with a package JSON loaded remotely."
Would like to see --package <url-to-package.json>  flag option added to the cli.

This would function similar to the  wt create <url - to - js file> and point to the package.json file to enable required packages.

This would allow the creation of wt from remote files hosted on gist or other places.

[2017-11-05 03:06] i8ramin commented on #126
Also experiencing the same issue. `.env` is not being picked up. How does one read *secrets* from `context.secrets` during local development?

[2017-11-10 18:18] tommy-a opened #170 "`wt init` fails -> TypeError: Cannot read property 'then' of null"
When trying to run `wt init tommy2030@gmail.com` for the first time, it fails with the following error

[code]

[2017-11-10 20:14] NotMyself commented on #170
Confirmed in version 8.1.0

![screen shot 2017-11-10 at 12 13 09 pm](https://user-images.githubusercontent.com/73120/32676770-b400ca02-c610-11e7-86da-89d51f52bc1a.png)

[2017-11-10 21:07] NotMyself commented on #170
Resovled in wt-cli@8.1.1

[2017-11-10 21:07] #170 closed

[2017-11-24 08:07] dbismut opened #172 "Is it possible to set NODE_ENV to production"
Hi - I was wondering if it was possible to set NODE_ENV to production? Currently it's set to `webtask`, but Express requires that it's set to `production` for optimisation and also to avoid showing stack trace in error. I think this is critical. Thanks!

[2018-01-04 05:16] kswain1 commented on #164
Has anyone found a solution to this? Do they support the node mailer framework?

[2018-01-26 23:13] rwtombaugh commented on #51
Yes, there is a 100kb limit to the size of the webtask payload. This is by design. However, this does not include npm modules that you require as dependencies.

[2018-01-26 23:13] #51 closed

[2018-01-26 23:21] rwtombaugh commented on #108
@linktohack -- you can use `wt inspect <webtask-name> --fetch-code`

[2018-01-26 23:21] #108 closed

[2018-01-28 11:26] blackbaud-maryjanethomson opened #175 "Error when trying to delete an extension using wt rm"
I received an error when trying to use the following command to delete an extension from our Dev Auth0 instance:
wt rm fa3b597e91fdd36e9a5b57d665e62c48 --container "blackbaudinc-dev" --url "https://sandbox.it.auth0.com" --token "[REDACTED]" -p "blackbaudinc-dev-default"

Error text:
TypeError: profile.removeWebtask is not a function
at Namespace.handleWebtaskRemove [as $handler] (C:\Users\M
s:34:2

[2018-01-30 17:33] #175 closed

[2018-02-04 14:26] karllhughes opened #177 "Does --prod really work?"
In the documentation [here](https://webtask.io/docs/wt-cli) the flag is mentioned as working: `Use --prod to allow the webtask server to cache the webtask's code between runs.`

But in the CLI, when I run `wt create -h` I see that it is deprecated:

[code]

So does this flag really work? If not, is there a way to tell Webtask via the CLI that the task may be cached? Thanks!

[2018-02-06 01:53] rwtombaugh commented on #19
With the move to Auth V2 with webtasks, this issue no longer applies as far as I understand it

[2018-02-06 01:53] #19 closed

[2018-02-06 01:56] rwtombaugh commented on #64
This is a duplicate of https://github.com/auth0/wt-cli/issues/159

[2018-02-06 01:56] #64 closed

[2018-02-06 02:07] rwtombaugh commented on #55
I believe this was fixed back in April of 2016

[2018-02-06 02:07] #55 closed

[2018-02-06 17:58] rwtombaugh commented on #75
As we move to a new authorization model, this will no longer be useful

[2018-02-06 17:58] #75 closed

[2018-02-06 18:05] rwtombaugh commented on #6
I believe this was fixed a while back

[2018-02-06 18:05] #6 closed

[2018-02-06 18:22] rwtombaugh commented on #140
We are in the process of re-writing all of the documentation around webtasks and Extend, so we'll be sure to include this in the new version

[2018-02-06 18:22] #140 closed

[2018-02-06 18:34] rwtombaugh commented on #132
This is a legitimate error that you'll receive when the request body is too large. You need to reduce the size of the request body. Are you trying to bundle the webtask with dependencies? That can lead to a large code payload.

[2018-02-06 18:34] #132 closed

[2018-02-06 18:43] #116 closed

[2018-02-08 07:46] hsluoyz opened #178 "Error: spawn npm ENOENT when running instructions for creating Auth0 extension on Windows"
I want to develop my own Auth0 extension. In https://manage.auth0.com/#/extensions, I clicked the ``+CREATE EXTENSION`` button. It said: ``Want to write your own extension? Check out this command line tool.`` I clicked the link. It gave me the Development Instructions as follows:

1. Install wt (requires Node.js)
[code]
2. Setup wt
[code]
3. Install wt-gallery
[code]
4. Scaffold a basic extension

[2018-02-09 17:49] NotMyself commented on #164
Sorry for the late reply to this issue. I took a look at the nodemailer module and it looks like they explicitly require node version 6. You can see this in the [package.json](https://github.com/nodemailer/nodemailer/blob/master/package.json#L40).

Webtask.io currently supports node v4.8.7. We do have plans to migrate to node 8 in the future but I do not have a firm date on it yet.

All is not los

[2018-02-09 17:49] #164 closed

[2018-02-21 21:11] juan-m12i opened #179 ""Payload Too Large" after trying to update a webtask in node8 with bundling"
hi there, I am receiving the following message when trying to upload a webtask with several internal file dependencies and some npm modules. Any hint?

Thanks a lot

Best,
J

Resolving 2 modules...
Provisioning 2 modules...
nonce@1.0.4 is available
truelayer-client@1.0.9 is available
onWebtaskError Error: Payload Too Large
    at Request.callback (/usr/local/lib/node_modules/wt-cli/node_modules/su

[2018-02-21 21:14] #179 closed

[2018-02-21 21:14] juan-m12i commented on #179
Sorry, went too fast with the recommendation in the console, before checking for previous issues. I am importing a large module I guess

[2018-02-26 01:57] BirkhoffLee opened #180 "Proxies doesn't work"
[code]

And it doesn't work too if I run `HTTP_PROXY=https://127.0.0.1:1087 wt init github@birkhoff.me`, while I'm pretty sure the proxy servers are working fine. So I had to use [Proxifier](https://www.proxifier.com/) to make my proxy system-wide, and it's working fine now.

[code]

[2018-02-27 18:52] cfjedimaster opened #181 "Color issue with PowerShell and wt ls"
The blue used in `wt ls` doesn't work well with the default color scheme of Powershell:

![image](https://user-images.githubusercontent.com/393660/36748293-09f6b370-1bbd-11e8-8f9a-a95c3956d3d6.png)

[2018-02-27 18:53] cfjedimaster opened #182 "wt edit not opening browser"
I thought this was just a WSL issue, but I can't get `wt edit X` to work in WSL (Windows Susbsystem for Linux) or Powershell.

[2018-02-27 18:53] cfjedimaster commented on #182
Tested cmd.exe and it doesn't work there as well.

[2018-03-05 17:10] cfjedimaster opened #185 "Support automatic reload w/ serve/debug"
When using `wt serve` (or `debug`), we should automatically reload the code when it is edited. This could be done always, or as a flag and make it optional (but I'd default to on as I think most folks would want it enable).

[2018-03-09 21:51] NotMyself opened #187 "Cannot read property 'secrets' of undefined"
[code]

The `file.js` webtask attempts to access secrets using `module.webtask.secrets`. This works in production but fails when serving locally with the CLI.

[2018-03-27 23:36] elmiratap opened #191 "Auth0 + Alexa Tutorial - Payload Too Large"
I am working through [this tutorial](https://auth0.com/blog/interaction-based-auth-for-alexa-with-auth0/), and at the
`wt create -n pod --secrets-file src\runtimes\secrets.ini build\bundle.js`
step, I get the following error:
[code]
Do you have any suggestions for getting past this issue? It seems the tutorial worked for others in the past, but perhaps there's been a change to the codebase that re

[2018-03-30 19:00] NotMyself commented on #172
Hi @dbismut,

Sorry for the very late reply on this issue. I am working to try to get all of the old issues cleaned up.

Webtask is fairly unique in that we need to support both local and editor based development workflows. The NODE_ENV being set to `webtask` supports the editor based flow.

I think the simplest approach for you is to add a small block to the top of your production webtask like th

[2018-03-30 19:00] #172 closed

[2018-03-30 21:01] rwtombaugh commented on #191
Hi @elmiratap

The error that you are hitting is because the bundled code file you have is too large. The tutorial in question is a little out of date and it doesn't reflect the better way to write your webtasks without bundling.

Instead of bundling, use a `package.json` file and list your npm module dependencies in the package.json.  When you run `wt-cli create webtask-code-file.js` the wt-cli w

[2018-03-30 21:01] #191 closed

[2018-03-30 22:15] elmiratap commented on #191
Thank you @rwtombaugh!

[2018-04-03 17:32] NotMyself commented on #177
Hi @karllhughes, Sorry for the late reply. I am attempting to clean up these old issues on our repositories. The --prod flag is no longer used at all and will be ignored. Tasks are now automatically cached for the lifecycle of the webtask container.

I have updated the documentation and it should be on the site shortly.

[2018-04-03 17:32] #177 closed

[2018-04-05 17:43] NotMyself commented on #157
This is still a bug. The workflow has changed.

1. `wt cron create --schedule 1m task.js --name cron-test`
1. Let the CRON schedule execute.
1. `wt cron history cron-test` - Note the task completes as expected
1. `wt update cron-test task.js`
1. 1. Let the CRON schedule execute.
1. `wt cron history cron-test`

Results are the same as above.

[2018-04-05 17:58] #80 closed

[2018-04-05 18:26] NotMyself opened #193 "wt browse task should validate the task exists"
The newly created `wt browse task_name` command should validate the tasks exists and use the wildcard url if it does not.

[2018-04-07 06:57] stevezau commented on #191
I also am having the same issue. The problem is when you run without bundle it does not include the local files so you need to bundle just the local files somehow??

https://github.com/auth0/auth0-alexa-authentication-sample/blob/master/src/runtimes/wrapper-webtask.js#L9-L21

[2018-04-07 12:25] zanona commented on #54
This would be helpful indeed.
Is there any alternative for this currently besides setting env vars `--url` `--token` and `--container` individually?

[2018-04-09 23:40] stevezau opened #194 "wt bundle-minify does not seems to do anything"
Hi,

When running webtask bundle-minify it does not seems to bundle or minify. The file is just copied up exactly the way it is.

[2018-04-09 23:43] stevezau opened #195 "wt bundle does not find package.json in working directory"
Hi,

When running wt create with --bundle the package.json file must reside in the folder where the webtask.js file exists. If it does not, bundle will try package the modules.

I suggest we should look for package by
- searching current working folder
- searching folder where the js file resides
- if no package.json found, add a hint OR if we get a 100kb max size limit error hint towards a packag

[2018-04-11 11:19] BrighTide opened #196 "--bundle flag causes issues when using node8 profile"
Hi,

I'm getting "Compilation failed: regeneratorRuntime is not defined" when using the --bundle flag (to enable multiple files) in a project using node8 set up as per https://tomasz.janczuk.org/2017/09/auth0-webtasks-and-node-8.html

[2018-04-13 19:44] NotMyself commented on #37
Hi @zhiyelee,

Sorry for the late reply. We have no current plans to allow zip uploads.

[2018-04-13 19:44] #37 closed

[2018-04-13 19:48] NotMyself commented on #8
Hi @woloski & @eugeniop,

I am attempting to clean up the old webtask issues and PRs. This one qualifies as old. The output for wt-cli logs has had a lot of the noise removed.

[2018-04-13 19:48] #8 closed

[2018-04-13 19:50] NotMyself commented on #71
Hi @jonberke,

I am attempting to clean up our old issues and pull requests. This issue is pretty old and appears to be resolved. I am going to close it. If you are still experiencing issues, please reopen and let me know.

[2018-04-13 19:50] #71 closed

[2018-04-16 14:13] Darkhogg opened #198 "wt profile migrate doesn't work"
I'm performing the exact steps described on [the wiki page](https://github.com/auth0/wt-cli/wiki/Node8) using `wt-cli@9.2.0` but all I get is an error:

[code]

Is this not implemented yet or am I doing something wrong??

[2018-04-20 12:42] cfjedimaster opened #201 "wt debug lowercases file name and breaks on case-sensitive filesystems"
Testing a webtask called `getRss.js` on Unbutu and `wt debug getRss.js` fails because it can't find the module, `getrss.js`. This seems to be an issue with `debug` only as `serve` worked with it fine.

[2018-04-20 22:18] yavorg opened #202 "--parse-body option not documented when running wt serve -h"
The help page seems to be missing the description of what this flag does

[code]

[2018-04-20 22:39] tjanczuk commented on #198
@Darkhogg Please use the wt-cli@9.3.0 (or later) and instructions from https://github.com/auth0/wt-cli/wiki/Node8---wt-cli

[2018-04-21 10:07] Darkhogg commented on #198
@tjanczuk I get this error when running `wt profile migrate --finalize`:

[code]

[2018-04-21 23:16] glennblock commented on #198
Hi @DarkHogg

Sorry if it was not clear. You have to first run with —yes (not —finalize).
This will migrate your Webtasks. Then you can verify the tasks that were
migrated work in Node 8. Once you are sure everything migrated properly /
and everything works (you may have need to make some changes) then you can
use —finalize to make it permanent. You should only do this last step once
you are sure

[2018-04-22 14:34] glennblock commented on #198
Ok thanks. We will look into it. Glad you were able to use the web UI.

[2018-04-23 00:49] tjanczuk commented on #198
@Darkhogg Can you please share your OS, node.js version, and wt-cli version you were using when you encountered the error?

[2018-04-23 11:38] Darkhogg commented on #198
Linux (Arch Linux, kernel 4.16.3), Node.js 8.11.1, wt-cli 9.3.0

[2018-04-24 14:39] brec-c opened #203 "Error installing wt-cli due to old got module restricting node version to < 7"
Issue summary line actually fits the whole issue.

got@5.7.1 has a restriction on node version to >= 0.10.0 < 7.

Hopefully updating to the latest got is safe as that version at least removes the restriction.

[2018-04-24 21:11] yavorg commented on #168
Repro:
* [webtask code](https://gist.githubusercontent.com/yavorg/42bd26ed5732759e1f6bf71258340084/raw/b9910d3df2496a957b677aa7fcd031405c1b83c6/forex.js)
* [package.json](https://gist.githubusercontent.com/yavorg/42bd26ed5732759e1f6bf71258340084/raw/b9910d3df2496a957b677aa7fcd031405c1b83c6/package.json)

The following doesn't pick up the `package.json`:
`wt create https://gist.githubusercontent.co

[2018-04-26 01:28] garthk opened #204 "wt edit fails: Invalid token, missing `ten` claim"
Redacting a little…
[code]
The browser shows:

The token, broken apart:
[code]
… which, indeed, lacks a `ten`.

[2018-04-26 09:01] ildella opened #205 "two "dodgy" dependencies"
When I install wt-cli I get this warning that do not look good:
[code]

Using npm view I see this trees:
[code]

[code]

[2018-04-27 18:45] NotMyself commented on #72
@collinglass and @calclavia,

I would like to apologize for how long it has taken to respond to this issue. I am going to assume you might have moved on after 2 years. I am going to close this issue. If you are still experiencing errors please reply and I can help resolve them.

[2018-04-27 18:45] #72 closed

[2018-04-27 22:26] tyvdh opened #206 "Timed out waiting for modules to become available"
Trying to add some dependencies to my webtask project but getting a timeout error.

[code]

Have also tried `"stellar-sdk": "0.8.0"` which is a similar package. Same issue.

[code]

[2018-04-27 23:28] rwtombaugh commented on #203
Can you provide specific repro steps? We just installed the wt-cli using node8

[2018-04-27 23:35] rwtombaugh commented on #206
The module now appears to be available.

[2018-04-27 23:35] #206 closed

[2018-04-28 01:13] tyvdh commented on #206
@rwtombaugh no dice. It wouldn’t be because I was using a profile would it? Not sure why it’d work for you but not for me.

Unless it’s a cdn issue.

[code]

Any other info that would help debug? I'm fairly new to webtasks so it's possible I'm doing something wrong.

[2018-04-30 17:11] brec-c commented on #203
it's pretty much just the installation step: `npm install wt-cli -g`

it must be environmental if you're not seeing the issue.  Here's the output
I'm seeing:

λ npm install wt-cli -g

npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to
"coffeescript" (no hyphen)

npm WARN deprecated socks@1.1.10: If using 2.x branch, please upgrade to at
least 2.1.6 to avoid a serious bug wi

[2018-04-30 21:26] JPGMC opened #207 "Cannot find module 'express' when trying to run debug."
When trying to understand why I would randomly get HTTP 500 errors on my Node 8 tasks, I decided to run debug. When 'wt debug' on my javascript, I got the following:

Debugger listening on ws://127.0.0.1:9229/94fedcdf-030b-47bd-8899-df3e4c783c3c
For help see https://nodejs.org/en/docs/inspector

Uncaught error:  Error starting local server: Cannot find module 'express'

Error: Error starting local

[2018-04-30 21:57] NotMyself commented on #207
Hi @JPGMC,

When running locally you need to have your dependencies available as well. Try `npm init --yes` followed by an `npm install express --save`. Then try debugging.

[2018-04-30 22:40] JPGMC commented on #207
Thanks, I installed the different dependencies missing and it's not running.

[2018-04-30 22:40] #207 closed

[2018-05-09 16:47] NotMyself commented on #121
Hi @christiannwamba,

It looks like @ggoodman responded to your question back in 2017. I am going to close this issue. If you are still experiencing issues. Feel free to respond and reopen it. Thanks for using webtasks!

[2018-05-09 16:47] #121 closed

[2018-05-12 17:26] dbertram commented on #55
@rwtombaugh @tjanczuk @ggoodman @NotMyself  Sorry for the @mention spam, but I'm not entirely sure who's best to notify on this. I think this issue is still relevant, and appears to have possibly gotten worse (?) in the node 8 webtask environment.

## Node 4 webtask environment

In the node 4 env, running `wt create --bundle` on a project that has code like the following:

[code]

results in `myRa

[2018-05-12 17:33] dbertram opened #209 "wt profile migrate does not support named/multiple profiles?"
Steps:

1. Add default profile: e.g. `wt init foo@example.com`
1. Add a named profile: e.g. `wt init -p myNamedProfile bar@example.com`
1. Run `wt profile -p myNamedProfile migrate`

Expected: Start migrating the specified named profile

Actual: Error message:

`wt profile: error: argument "profile_command": Invalid choice: myNamedProfile (choose from [init, ls, get, rm, nuke, migrate])`

[2018-05-22 05:58] A143404 commented on #204
I am facing this issue. How do i generate a token which has this claim..

[2018-05-22 23:15] NotMyself commented on #110
Hi @robbiemu,

Were you able to resolve this issue? It looks like @ggoodman asked you to try with version 6.0.0 of the CLI. We are currently on version 9.5.0. I am going to close this issue. If you are still experiencing the issue feel free to reopen it with current details.

Thanks!

[2018-05-22 23:15] #110 closed

[2018-05-22 23:17] NotMyself commented on #83
Hi @Neats29,

I am sorry for the extremely late response. Are you still having this issue? I am going to close this issue assuming you have moved on or the issue has been resolved in the last couple years. If you are still having the issue feel free to reopen the issue with current details.

Thanks!

[2018-05-22 23:17] #83 closed

[2018-05-22 23:30] NotMyself commented on #124
Hi @rohit-ravikoti,

Sorry for the late response. It is possible to deploy from a CI service using the wt-cli given you can install it and store your profile values as environment variables. The process would look something like this:

1. Store URL, Container and Token values as Environment Variables with your CI provider.
    - You can get these values using this command, `wt profile ls --show-to

[2018-05-22 23:30] #124 closed

[2018-05-23 06:02] nebolsin commented on #204
Also got this problem after re-initializing the profile according to instructions in Auth0 dashboard. Luckily I had a backup of `~/.webtask` with an old token and it still works.

[2018-05-23 20:27] mattiaocchiuto commented on #198
Same problem, I'm trying to migrate my `default` profile by using the `wt profile migrate default --yes` command by I receive the following error in response:
[code]

wt version: 9.4.0

[2018-05-26 10:52] sunnyagarwal008 opened #211 "Uncaught error: Error starting local server: Unexpected token import"
Error: Error starting local server: Unexpected token import
    at Bluebird (/usr/local/lib/node_modules/wt-cli/bin/serve.js:86:31)
    at tryCatcher (/usr/local/lib/node_modules/wt-cli/node_modules/bluebird/js/main/util.js:26:23)
    at Promise._resolveFromResolver (/usr/local/lib/node_modules/wt-cli/node_modules/bluebird/js/main/promise.js:483:31)
    at new Promise (/usr/local/lib/node_modules/

[2018-06-02 14:13] Be-ngt-oH opened #212 "wt init: Mail verification fails with HTTP status 500"
Steps and output:
[code]

I've tried it multiple times with the same result and then used verification via phone number which worked perfectly.

[2018-06-02 20:15] martinhbramwell opened #213 "getaddrinfo EAI_AGAIN sandbox.auth0-extend.com:443"
[code]

[2018-06-13 13:46] jrgleason opened #214 "Can't create ES6 webtask with bundling"
I have the following webtask...

    "use latest";
    modules.export = (ctx, done) => {
        done(null, {
            response: "Test"
        })
    }

**What I would expect:**

If I run the command `wt create --bundle --watch my.js` the webtask should get created.

**What actually happens:**

I get the following error:

            Maybe you meant to use 'useBuiltIns'? (While processing: "/u

[2018-06-13 14:13] jrgleason commented on #214
Closing and moving to webtask-bundle https://github.com/auth0/webtask-bundle/issues/27

[2018-06-13 14:13] #214 closed

[2018-06-13 19:47] jrgleason opened #215 "Can't get webtask to return the proper value when using ES6"
I have the following...

[code]

When I run I get...

So I try to change to the ES6 version...

[code]

When I run like this `./node_modules/.bin/wt create --bundle --watch uportConnect.js` I get the following error...

[2018-06-13 19:52] SkyHacks commented on #215
Can you try replacing `modules.export` with `module.exports`?

[2018-06-13 23:36] NotMyself commented on #212
Thanks for reaching out. Sorry, you ran into this issue. We recently released a new authentication method for Webtask.io. The documentation is a bit stale. Can you try running the command this way?

`AUTH_MODE=v2 wt init`

You only need to do this step for the call to init, then the cli should work as expected.

[2018-06-14 12:38] Be-ngt-oH commented on #212
[code]

[2018-06-14 13:42] jrgleason commented on #215
@SkyHacks Good catch but unfortunately just a typo. I tried both...

[code]

and

[code]

same result...

[code]

[2018-06-14 15:08] NotMyself commented on #212
Sorry, to clarify the command should be:

`AUTH_MODE=v2 wt init [your-mail-address]`

[2018-06-14 16:48] SkyHacks commented on #215
Notice `exports` has a trailing ‘s’.

[2018-06-15 09:49] Be-ngt-oH commented on #212
I have tried it with and without the mail address - same result.

[2018-06-16 14:08] jdillman1989 commented on #212
I am encountering this exact same issue. I have also tried the `AUTH_MODE=v2 wt init [your-mail-address]` with the same results. My `node` and `wt` versions are the same as OP's.

[2018-06-17 15:06] tjrivera commented on #212
I encountered a similar issue. I created a PR that should fix the issue -- it still requires `AUTH_MODE=v2` to initialize a profile. I found the same `500` errors from the verification endpoint without using the `v2` flow.

[2018-06-18 18:37] NotMyself commented on #215
@jrgleason the pattern needs to look like this:

[code]

[2018-06-18 18:37] #215 closed

[2018-06-18 20:31] NotMyself commented on #212
We recently released version 10.0.0 of our CLI. Please update your version with the command npm update -g wt-cli. This should resolve the error for you.

[2018-06-20 04:47] rosedigits opened #218 "wt: command not found"
$ npm install -g wt-cli
npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)
npm WARN deprecated socks@1.1.10: If using 2.x branch, please upgrade to at least 2.1.6 to avoid a serious bug withsocket data flow and an import issue introduced in 2.1.0
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS

[2018-06-21 15:46] #212 closed

[2018-06-21 19:33] #135 closed

[2018-06-21 19:36] NotMyself commented on #135
Hi @toboid,

Thanks for reaching out to us and the excellent test case. We have fixed the issue. You simply need to update to the latest version of the wt-cli: `npm update -g wt-cli`

[2018-07-08 05:46] gtulga commented on #204
How did you fix @nebolsin ? I have .webtask too. I dont understand how to use that token

[2018-07-10 21:59] NotMyself commented on #130
Hi @Vitouuu,

Sorry for the extremely late reply. I took a look at the current version of both the CLI and the Editor and it looks like this issue has been handled. You cannot create a task with an invalid name anymore.

![screen shot 2018-07-10 at 2 57 38 pm](https://user-images.githubusercontent.com/73120/42540048-db1e2d5a-8451-11e8-9bd1-c8a040aa3556.png)

![screen shot 2018-07-10 at 2 57 53 pm]

[2018-07-10 21:59] #130 closed

[2018-07-10 22:03] NotMyself commented on #141
Hi Everyone,

Webtask.io now runs on Node 8 directly. Async/Away is supported. I am going to close this issue. Feel free to respond and reopen if you have any questions.

[2018-07-10 22:03] #141 closed

[2018-07-20 17:36] NotMyself commented on #34
Hello @harriha,

Thank you for reporting this issue. We will not be fixing this issue at this time. If you would like to submit a PR to resolve it, feel free to do so.

[2018-07-20 17:36] #34 closed

[2018-07-20 17:39] NotMyself commented on #54
Hello @colllin and @zanona,

Thank you for the feedback. Shared webtask profiles are not currently a supported workflow. We will not be fixing this issue at this time.

[2018-07-20 17:39] #54 closed

[2018-07-20 17:43] NotMyself commented on #125
Hi @glrodasz,

Thanks for the feedback. We will not be adding this functionality in the near future. I have added it to a list of feature requests to be evaluated in the future.

[2018-07-20 17:43] #125 closed

[2018-07-20 17:45] NotMyself commented on #167
Hi @heymartinadams,

Thanks for the feedback. We will not be adding this functionality in the near future. I have added it to a list of feature requests to be evaluated in the future.

[2018-07-20 17:45] #167 closed

[2018-07-20 17:55] NotMyself commented on #209
Hello @dbertram,

The Node 8 migration is complete and the migration functionality has been removed from the CLI. I am going to close this issue.

[2018-07-20 17:55] #209 closed

[2018-07-27 16:38] NotMyself commented on #213
Hi @martinhbramwell,

Can you give me a little context for this error? What were you attempting to do when this happened?

[2018-07-27 16:39] NotMyself commented on #211
Hello @sunnyagarwal008,

Can you give me a little context on this error? What exactly were you trying to do when you received this error?

[2018-07-27 20:14] martinhbramwell commented on #213
That's so long ago, I really can't remember.
I think it was a one off thing, that suddenly popped up while saving changes.

Networking glitch?

[2018-07-27 20:37] NotMyself commented on #213
Quite possibly. I am going to close the issue. Let me know if you encounter it again. Thanks!

[2018-07-27 20:37] #213 closed

[2018-07-30 16:49] NotMyself commented on #211
Hi @sunnyagarwal008,

I am going to close this issue for now. If you have a chance to respond feel free to reopen it.

[2018-07-30 16:49] #211 closed

[2018-07-31 17:40] NotMyself commented on #196
Hi @BrighTide,

Thanks for reaching out to us. Sorry that it took so long to respond to this issue. We have released several version of wt-cli since April. I just tried to reproduce this issue and was not able to recreate the error. I know where have fixed several bugs in the bundling command recently. Looks like it has been fixed.

I am going to close this issue. If you are still encountering the

[2018-07-31 17:40] #196 closed

[2018-08-09 17:05] dhayal1986 opened #222 "Creating a hook throws an exception"
Creation of hooks with CLI throws "Unauthorized"
+ bin/auth0 create -t post-user-registration --name create-ds-user -p abcdef-default myjsfile.js --secret client_id=xyz123abx242526 --secret client_secret=lsdgwalsfgalfhpjashfpiowafhwakgfwak
Uncaught error:  Unauthorized
Error: Unauthorized
    at Request.callback (/home/ubuntu/workspace/xxx/xxx/xxx/hooks/auth0-hooks-create/Auth0-wt-cli/node_modules

[2018-08-13 12:15] gunnarvelle opened #223 "wt inspect returns only first level info when specifying --output json"
When I run 'wt inspect --fetch-source hook_name' wt returns all info on the specified hook. But if I add '--output json' only the first level of information is returned, namely container, url and name. All meta-information and even the code is never returned. This applies to wt-cli 10.0.3.

Older versions of wt-cli does not have this problem.

[2018-08-15 07:15] gunnarvelle commented on #223
Correction. I got the same result when using wt-cli 8.1.1. I tried also to install 6.5.1 but could not get that version to work.

[2018-09-07 13:37] kstigen commented on #223
I have the same problem

[2018-09-13 18:15] gunar opened #225 "Infer programming model when the export is an express app"
Me and others have been bitten by the mysterious error message below. Solution is to either specify `--meta wt-compiler=webtask-tools/express` or use [webtask-tools](https://github.com/auth0/webtask-tools). This is probably such a common mistake that `wt-cli` could infer and apply the correct programming model automatically, or at least present a better error message.

I understand that the way we

[2018-09-16 09:50] baskin opened #226 "bundle-minify throwing "Invalid flags supplied to RegExp constructor 's'" with latest update"
Hi Team,
Just updated wt-cli to latest version
[code]

and have started receiving following error
[code]

[2018-09-16 12:58] baskin commented on #226
Please ignore. Red herring. It was an issue with a regex in my code. Duh!

[2018-09-16 12:58] #226 closed

[2018-09-16 14:55] baskin opened #227 "Getting error "Supplied code must return or export a function." on new deployments"
Team,
I recently started getting the error in runtime
[code]
when I invoke the webtask.
The webtask duly has the structure
[code]
What could be wrong?

[2018-09-17 15:34] NotMyself commented on #227
Hello @baskin,

Your code appears to follow the single parameter programming model described [here](https://webtask.io/docs/model). Although, it will fail because the code never calls the callback function. So execution will timeout.

The error you are getting is not related to the timeout issue though. It appears that the code you have deployed does not follow any of the programming models descri

[2018-09-17 16:42] baskin commented on #227
Thanks @NotMyself for looking into this.

No. The actual code follows the prescribed programming model.
[code]
What I posted above was the result of minification caused by the `--bundle-minify` option in wt-cli

I use
`wt create build/webtask/get-story-details --bundle --bundle-minify --secrets-file secrets`
to deploy the function.

----
I think the error code `"Supplied code must return or export

[2018-09-17 17:09] NotMyself commented on #227
I do not seem to be able to reproduce the issue you are describing, here are the exact steps I am doing:

1. `echo "module.exports = function (cb) {cb(null, 'Hello');}" > task.js`
1. `wt create task.js --bundle --bundle-minify`
1.  `wt inspect task --fetch-code`
1. `curl -X GET https://<CONTAINER>.sandbox.auth0-extend.com/task`

![example](https://user-images.githubusercontent.com/73120/45638233-7

[2018-09-17 19:45] baskin commented on #227
This works.

@NotMyself  However the following doesn't (bundling with minification)

1. code
[code]
2. bundle and upload
`> wt create build/test.js --bundle --bundle-minify`

3. and the error
[code]

4. If however, I try again, this time w/o the minify option, it works!
[code]

[2018-09-17 20:03] baskin commented on #227
wt-cli@10.0.3
webtask-bundle@3.2.2
webtask-runtime@1.7.1

[code]

[2018-09-17 20:30] NotMyself commented on #227
Just to be complete, what version of node are you running? `node -v`

[2018-09-17 20:35] baskin commented on #227
node -v
v7.10.0

[2018-09-17 20:54] NotMyself commented on #227
OK, I was able to reproduce the issue using node 7.

![screen shot 2018-09-17 at 1 51 00 pm](https://user-images.githubusercontent.com/73120/45649702-f55ea180-ba80-11e8-8e22-1463035f511f.png)

I would recommend that you upgrade to node 8 LTS.

[2018-09-17 21:02] baskin commented on #227
Any particular version of node 8?
I just tried with v8.0.0. Doesn't work. Same error.

[code]

Also, I've been using the above commands for months. The only thing that has changed is that I upgrade my wt-cli to the latest version (from v9.4). However downgrading back did not fix the issue either.

[2018-09-17 21:17] NotMyself commented on #227
I am using v8.11.4

![screen shot 2018-09-17 at 2 15 05 pm](https://user-images.githubusercontent.com/73120/45650754-2ab8be80-ba84-11e8-8b87-7aca0749cf0b.png)

But anything v8 marked LTS should work. If you updated to the same version I am, I would encourage you to wipe out your global node modules are reinstall them.

[2018-09-17 21:19] baskin commented on #227
Ok, thanks will try.

[2018-09-17 21:27] NotMyself commented on #227
Hold on @baskin. I am able to reproduce this with node 8.12 using a clean install. Let me dig into this a bit more.

[2018-09-17 21:36] NotMyself commented on #227
OK, I have a reproducible case. I am going to log this as a bug. Thanks for working through it with me.

[2018-09-19 12:03] baskin commented on #227
Hi @NotMyself ,

Can you help me get a workaround for this, in the meantime?
I've tried around now with different older versions of node, wt-cli, webpack etc.. but wasn't able to make it work.

Any clues of what I could try next would be helpful too.

Thanks.

[2018-09-20 01:52] headho opened #229 "Fail to create web task"
auth0 create -t post-user-registration --name test-upload -p $WT_PROFILE --secrets-file ./auth0Deployment/dist/hooks/secretFile ./auth0Deployment/dist/hooks/test-upload.js

Uncaught error:  Path must be a string. Received undefined
error	20-Sep-2018 13:45:51	TypeError: Path must be a string. Received undefined
error	20-Sep-2018 13:45:51	    at assertPath (path.js:28:11)
error	20-Sep-2018 13:45:51

[2018-09-21 17:03] NotMyself commented on #227
@baskin

This issue should now be resolved with the release of wt-cli v11.0.0.

[2018-09-21 17:04] #227 closed

[2018-09-21 17:04] NotMyself commented on #205
@ildella

All dependency issues reported by NPM should now be resolved with the release of v11.0.0.

[2018-09-21 17:04] #205 closed

[2018-09-21 17:06] NotMyself commented on #203
@brec-c

This issue should be resolved with the release of v11.0.0.

[2018-09-21 17:06] #203 closed

[2018-09-21 17:06] NotMyself commented on #198
Profile migration has been removed from the CLI.

[2018-09-21 17:06] #198 closed

[2018-09-21 17:07] NotMyself commented on #194
This issue should be resolved with v11.0.0.

[2018-09-21 17:07] #194 closed

[2018-09-21 17:34] baskin commented on #227
Thanks a bunch!!

[2018-09-30 23:56] HemalR commented on #157
Hmm.. Getting a similar error, but sporadic. Not sure why. And not sure if related, but when loading the webtask using the web portal, the console gives this error (which I can't make out what it means):

[code]

This happens even if I modify the code and simplify it to:

[code]

[2018-10-10 07:51] andrewnester commented on #223
Gonna look at this issue

[2018-10-21 09:14] stephanmax opened #235 "`--bundle-*` not working"
Hey folks,
I recently put some of my webtask code into its own class and now want to use the CLI's bundle option to pull everything together. I am using one dependency (the `twit` library for Twitter) and ran into the following issues:

- Using `--bundle` yields the error `Uncaught error:  Request body size exceeds 122880`
- Using `--bundle-minify` or `--bundle-strict` leads to successfully deploy

[2018-10-22 16:43] NotMyself commented on #235
Hi @stephanmax,

I took a look at your repository and I think I see the issue. Your package.json is located at the root level of your repository, which is standard for node projects. But your webtask code is located in a src folder.

When deploying a webtask using the CLI, it looks for a package.json next to the webtask code for dependency definitions. It will not look anywhere else. Try pulling y

[2018-10-22 18:36] stephanmax commented on #235
You are a lifesaver, @NotMyself! Thank you very much, that did the trick.

Now I even recall having read somewhere about the "package.json next to webtask code" issue and that tracking for a package.json file up the directory structure has not been considered yet (forgot why).

Do you think we could put some documentation on this somewhere? It seems kind of counter-intuitive (at least to me) that

[2018-12-18 20:02] #201 closed

[2018-12-19 08:03] Salketer opened #237 "wt create --bundle throws "invalid semver for module""
Hello, I am trying to bundle my first real task. This task has a package.json file that has this dependency:

    "piexifjs": "^2.0.0-beta.7"

This returns this error:

    Uncaught error:  invalid semver for module piexifjs (2.0.0-beta.007) at '.modules'

I have tried with many different semver but they either are not working because they are not available from NPM, or throw this error.

To me, t

[2019-02-15 20:39] acrodrig opened #247 "When I update, secrets are lost"
Hi, is this the intended behavior? I create a Webtasks via the command line, then I go into the web editor and add some secrets.

As soon as I update via:

[code]

The secrets I had in the Webtask are lost. Can you help?

[2019-02-25 22:16] jerdog opened #249 "Attempting install prompts of deprecated versions"
When running `npm install wt-cli -g` on MacOS I receive the following straightaway:

[code]

[2019-03-05 07:13] openjck commented on #247
I came here to report this same issue. I can confirm that this happens.

[2019-04-11 14:43] kjarmicki opened #250 "Error while enabling auth0 hook"
Hello,

I'm having trouble with enabling a hook that was created with the cli. I have successfully initialized the cli and can confirm with `wt init` that my token is not expired.

It goes like this:
[code]

I'm able to create and remove hooks, but not to enable them. Note that it also says `Enabling hook undefined`, so maybe there's a data mismatch somewhere?

Any help appreciated :)

[2020-11-03 15:10] theabbie opened #258 "Can't login to Webtask"
### Description

To install the CLI, we have to visit the page https://webtask.io/cli which requires login.

![Login Error](https://user-images.githubusercontent.com/17960677/98003278-913ff880-1e14-11eb-91dc-f2a70160128f.png)

the login page https://webtask.io/login is not working.

Is the project still active or are they planning to take it down?

### Reproduction

* Visit https://webtask.io/logi

[2020-11-03 15:12] theabbie commented on #258
@NotMyself

[2020-12-02 16:23] gene1wood commented on #131
`--raw` continues to not work today in the current version of wt-cli

[2020-12-03 13:29] #131 closed

[2021-02-19 20:15] vandermerwed commented on #258
+1

I actually have a webtask scheduled to run every day at 5am which I'd like to migrate away from Webtask but I can't log in to deactivate it 😅

[2021-04-11 18:07] JohnLHa commented on #258
+1

Is there any way I can login and get any of my code back?

[2021-04-13 18:17] gileswells commented on #258
To get access to your account you need to install the cli and then do `wt init` and `wt edit` to get in. I don't know if you're required to have a third party auth provider to make it work but that's how I've been getting in through my github logins.

[2021-05-23 23:10] #82 closed

[2021-06-07 14:09] vrimat opened #266 "Install through Homebrew"
Hi everybody,

Is there a way to install this library through Homebrew?

I would like to keep my package management within a single tool.

Thanks in advance for your attention.

[2021-11-09 08:45] bkawin commented on #212
# node -v
v10.19.0
# wt -v
12.1.0

AUTH_MODE=v2 wt init [your-mail-address]  or wt init [your-mail-address].
it opens webtask.auth0.com/login page where if I choose my google account it says "This site can’t be reached"
or "Authentication Failed" or "Oops!, something went wrong".. pls help